<app-header titulo="Galery"></app-header>

<ion-content>

    <ion-card>
        <ion-card-content>
            <div class="card ">
                <img class="card-img-top zoom" src="./assets/opmn.jpg" alt="">
                <div class="card-body">
                    <h3 class="card-title titulo">Saitama</h3>
                    <p class="card-text">Heroe por diversion clase B por ahora xd</p>
                </div>
                <ion-button color="danger" (click)="presentAlertMultipleButtons()">Delete picture</ion-button>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <div class="card">
                <img class="card-img-top zoom" src="./assets/nasita.png" alt="">
                <div class="card-body">
                    <h3 class="card-title titulo">Nasa</h3>
                    <p class="card-text">Nacional aeronautics space administration</p>
                </div>
                <ion-button color="danger" (click)="presentAlertMultipleButtons()">Delete picture</ion-button>
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>

<app-footer></app-footer>