<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button defaultHref="/">

            </ion-back-button>
        </ion-buttons>

        <ion-title>buttons</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="onClick()" color="danger">
                <ion-icon slot="icon-only" [name]=" like ? 'heart':'heart-outline' ">

                </ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-button>Simple</ion-button>
    <h3>Colores</h3>

    <ion-button color="success">primary</ion-button>
    <ion-button color="warning">warning</ion-button>
    <ion-button color="tertiary">Simple</ion-button>
    <ion-button color="medium">Simple</ion-button>
    <ion-button color="danger">Simple</ion-button>

    <h3>Expand</h3>

    <ion-button expand="full">Full button</ion-button>
    <ion-button expand="block">Block button</ion-button>

    <h3>Round</h3>
    <ion-button shape="round" color="warning">Round button</ion-button>

    <h3>Outline</h3>
    <ion-button expand="full" fill="outline">Outline + Full</ion-button>
    <ion-button expand="block" fill="outline">Outline + Block</ion-button>
    <ion-button shape="round" fill="outline">Outline + Round</ion-button>

    <h3>icon</h3>
    <ion-button>
        <ion-icon slot="start" name="star"></ion-icon>
        Left Icon
    </ion-button>

    <ion-button>
        Right Icon
        <ion-icon slot="end" name="star"></ion-icon>
    </ion-button>

</ion-content>