<app-header titulo="cards"></app-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Roman Gilberto</ion-card-subtitle>
            <ion-card-title>Titulo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
            Las galaxyas no son portales son un conjunto de estrellas, planetas, etc.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item color="warning">
            <ion-icon slot="start" name="share"></ion-icon>
            <ion-label>
                Mancera Roman
            </ion-label>
        </ion-item>
        <ion-card-content>
            Estudiante de 19 years old
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <img src="./assets/nasita.png">
        <ion-card-content>
            amsnaksdnadkasdasddd
        </ion-card-content>
    </ion-card>

</ion-content>